
@mixin darkFont {
    font-family: $fontText;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #2B2B2B;
}

@mixin whiteFont {
    font-family: $fontText;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-white, #FFF);
}

@mixin h1 {
    color: var(--main-white, #FFF);
    font-family: $fontText;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

@mixin size18 {
    color: var(--main-white, #FFF);
    font-family: $fontText;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

@mixin fontInter {
    color: var(--dark, #2B2B2A);
    font-family: $fontBolt;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

@mixin bigBtn {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px 40px;
    transition: 0.5s ease;

    &:hover {
        opacity: 0.8;
    }
}

@mixin smallBtn {
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover {
        opacity: 0.5;
    }
}
