$colorWhite: var(--main-white, #FFF);
$colorDark: var(--main-dark, #2B2B2A);
$colorGreen: var(--main-green, #59F97C);
$colorYellow: var(--main-yellow, #EDC407);
$colorLightYellow: var(--main-yellow, #E0FF00);
$colorSilver: var(--main-silver, #B7B7B7);

$fontBolt: Inter;
$fontText: Roboto;

$breakpoint_xxxl: 1300px;
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;